* {border: 1px solid red;

font-family: Arial, Helvetica, sans-serif;}

.hero {
    background-color: #1F2937;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 20px;}

.right-links {
    display: flex;
    gap: 20px;
}

.logo {
font-size: 24px;
color: #F9FAF8;
font-weight: bold;}

.secondary {
    font-size: 18px;
    color: #e5e7eb;}

img {
    height: 180px;
    width: 290px;}

.left-side {
    display: flex;
    flex-direction: column;
}
