* {border: 1px solid red;}

.header {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.logo {
font-size: 24px;
color: #F9FAF8;
font-weight: bold;}

.hero {
    background-color: #1F2937;
}
